//=== Карта Яндекс ===============================================================================================================
// Подключение карты
// <div class="block__map" id="map"></div>

#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}

.map {
	width: 100%;
}

// Монохромная карта
// [class*="ground-pane"] {
// 	filter: grayscale(1);
// 	-webkit-filter: grayscale(1);
// }

// Убираем лишние элементы с карты
[class*="copyrights-pane"] {
	display: none;
}

// Стилизация стандартных стилей баллуна
// ymaps-2-1-79-balloon__close-button
[class*="balloon__close-button"] {
	opacity: 0.2 !important;
}

// =================================================================================================================================================