@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
$fontWeight: 400;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>======================================================================================================= 

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440; // общая ширина макета
$maxWidthContainer: 1270; // у основному знаечению 1240 добавляем 30px
$md1: $maxWidthContainer+12;
$md2: 1024;
$md3: 768;
$md4: 375;

// Основной цвет
$mainColor: #3A3A3A;

// Цвета сайта
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	background-color: #f9f1e7;
	font-weight: $fontWeight;
	color: $mainColor;
	// background: #333;

	a {
		color: $mainColor;
	}

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
h1 {
	font-size: 35px;
	font-weight: 500;
	line-height: 52.8 / 40 *100%;
	line-height: 38px;
}

h2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 38px;
}

h3 {
	font-size: 28px;
	font-weight: 500;
	line-height: 38px;
}

h4 {
	font-size: 25px;
	font-weight: 500;
	line-height: 38px;
}

.title {
	text-align: center;
	color: #222222;
	margin-bottom: 38px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}
}

//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// min-height: 200vh;
	// position: relative;
	&._loaded {}

	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;

	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }

}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "../../js/fancybox/jquery.fancybox";
// @import "datepicker";
// @import "lightgallery";
// @import "popover.min";
// @import "baguetteBox";
// @import "fancybox.min";
// @import "pagging";
// @import "map";
// @import "slider-index";
// @import "catalog";
// @import "collection";
// @import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// padding: 35px 0; 
	// padding-top: 80px;
}

.section {
	padding: 0 0;
}

//===================================================================================================================================

.main-banner {
	padding: 150px 0;
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	background-image: url('../img/main-banner');
}

.main-banner__title {}

.main-banner__subtitle {}

//========================================================================================================================================================


.j {}


//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Адаптив>===========================================================================================================================================
@import "media";